# Maven
**/target/

# Surefire
**/.surefire-*

# Eclipse
**/.classpath
**/.project
**/.settings/
**/bin/

# NetBeans
/herddb-core/nbproject/ 

pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

