# Maven
**/target/

# Surefire
**/.surefire-*

# Eclipse
**/.classpath
**/.project
**/.settings/
**/bin/

# Gui Dev
**/src/main/webapp/collectors/
**/src/main/webapp/console.history.*.txt
**/src/main/webapp/events/
**/src/main/webapp/feedbackwal/
**/src/main/webapp/indexes/
**/src/main/webapp/notification.groups.xml
**/src/main/webapp/resultsets/
**/src/main/webapp/ssh.ser
**/src/main/webapp/store/
