# Maven
**/target/

# Surefire
**/.surefire-*

# Eclipse
**/.classpath
**/.project
**/.settings

# Release
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
buildNumber.properties

dependency-reduced-pom.xml
.mvn/timing.properties
herddb-core/nbproject/
