<?xml version="1.0" encoding="UTF-8"?>
<web-app metadata-complete="true" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">   
    <servlet>
        <servlet-name>RESTServlet</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>org.herddb.ui.ApplicationConfig</param-value>
        </init-param>
    </servlet>
   
    <servlet-mapping>
        <servlet-name>RESTServlet</servlet-name>
        <url-pattern>/webresources/*</url-pattern>
    </servlet-mapping>   
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
