<div class="wrapper " style="display: none" >
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-2"></div>
                <div class="col-lg-8 col-md-8">

                    <div class="card card-user">

                        <div class="content">
                            <div class="login-title ">
                                <h4 class="herddb">HERDDB</h4>
                            </div>
                        </div>
                        <hr>
                        <div class="card ">
                            <div class="content">
                                <form>
                                    <div class="row" >
                                        <div class="col-md-4" ></div>
                                        <div class="col-md-4" >
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>JDBC URL</label>
                                                        <input type="text" class="form-control border-input"  placeholder="Insert datasource.." ng-model="datasource" ng-keyup="loginFromKeyUp($event)">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Username</label>
                                                        <input type="text" class="form-control border-input" placeholder="Insert username.."  ng-model="username" ng-keyup="loginFromKeyUp($event)">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Password</label>
                                                        <input type="password" class="form-control border-input" placeholder="Insert password.."  ng-model="pwd" ng-keyup="loginFromKeyUp($event)">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Default tablespace</label>
                                                        <input type="text" class="form-control border-input" placeholder="Insert default tablespace.."  ng-model="defaultts" ng-keyup="loginFromKeyUp($event)">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="text-center">
                                        <button type="submit" ng-click="login()" class="btn btn-info btn-wd btn-submit btn-herddb">Login</button>
                                    </div>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2"></div>
            </div>
        </div>
    </div>
</div>



