/*
 Licensed to Diennea S.r.l. under one
 or more contributor license agreements. See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership. Diennea S.r.l. licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.

*/

@font-face {font-family:'Sora';src:url('../media/Sora-Thin.ttf') format("opentype");font-weight:100;}
@font-face {font-family:'Sora';src:url('../media/Sora-ExtraLight.ttf') format("opentype");font-weight:200;}
@font-face {font-family:'Sora';src:url('../media/Sora-Light.ttf') format("opentype");font-weight:300;}
@font-face {font-family:'Sora';src:url('../media/Sora-Regular.ttf') format("opentype");font-weight:400;}
@font-face {font-family:'Sora';src:url('../media/Sora-Medium.ttf') format("opentype");font-weight:500;}
@font-face {font-family:'Sora';src:url('../media/Sora-SemiBold.ttf') format("opentype");font-weight:600;}
@font-face {font-family:'Sora';src:url('../media/Sora-Bold.ttf') format("opentype");font-weight:700;}
@font-face {font-family:'Sora';src:url('../media/Sora-ExtraBold.ttf') format("opentype");font-weight:800;}


* {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}

html {border:0;margin:0;padding:0;outline:0;background:transparent;font-size:100%;vertical-align: baseline;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend { margin: 0;padding: 0;border: 0;outline: 0;background: transparent;font-size: 100%;vertical-align: baseline;}
body{background-color:#fff;font-weight:300;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;
font-family: Sora, sans-serif;color: #505050;line-height: 1.5;font-size:18px;}
a{color:#FB2C3A;text-decoration: none;}
a:hover{opacity: 0.7;transition: all 0.3s ease-in-out;}
img {max-width:100%;height: auto;}
.header {position:fixed;z-index: 99999;top:0;height:84px;width:100%;background-color: #fff;-webkit-box-shadow:0 1px 0 rgba(0, 0, 0, 0.1);-moz-box-shadow:0 1px 0 rgba(0, 0, 0, 0.1);box-shadow:0 1px 0 rgba(0, 0, 0, 0.1);}
.wrap{z-index:99;position:relative;text-align:left;width:80%;max-width:1080px;margin:auto;}
.header .wrap{display:flex;height:84px;align-items:center;}
.logo{}
.logo img{max-width:190px;}
.top-navigation{font-weight: 600;flex-grow: 1;text-align:right;}
.top-navigation ul{}
.top-navigation li{display: inline-block;}
.top-navigation li a{padding:0 12px;letter-spacing: 2px;height: 26px;line-height: 26px;font-weight: bold;font-size: 15px;text-transform: uppercase;text-decoration: none;color: #242424;}
.top-navigation li a:hover{opacity: 0.7;transition: all 0.3s ease-in-out;}
.top-navigation li:after{content: "|";height:26px;line-height: 26px;color: #FB2C3A;}
.top-navigation li:last-child:after{content: '';}
.header-space{height:84px;}


.hero {padding-top:100px;padding-bottom: 100px;clear:both;background-image: url(../media/hero.jpg);width: 100%;background-repeat: no-repeat;background-position: top center;background-size:cover;background-color:#242424;margin-bottom:40px;}
.hero h6 {font-size:15px;font-weight:700;letter-spacing:5px;text-align:center;color:#fff;text-transform:uppercase;margin-bottom:10px;}
.hero h6:after{content: ' ';border-bottom: 1px solid #FB2C3A;display: block;width:5%;text-align: center;margin: 10px auto 0px;}
.hero h1 {text-transform:uppercase;font-size: 70px;text-align: center;font-weight: 500;line-height: 1em;color: #fff;margin-bottom:20px;}
.hero h4{font-size:30px;line-height: 1.4em;margin:auto;text-align:center;margin:auto;text-align:center;word-wrap:break-word;color:#fff;font-weight:300;}
.section ul{padding-left:2em;}

p.intro{text-align: center;font-size:20px;line-height:30px;}
h2{margin:40px 0 20px 0;font-weight: bold;font-size:24px;color:#242424;line-height:34px;}
h2:after{background:#ED8D6A;margin:6px 0;content: '';display: block;height:1px;width:50%;max-width:52px;}
h3{margin:20px 0 6px 0;font-weight: bold;opacity:0.8;font-size:20px;color:#242424;line-height:30px;}
.section, p{line-height:27px;margin-bottom:12px;font-size:16px;}
p{line-height:27px;font-size:16px;}


.separator{text-align:center;}
.archive p{border-bottom:1px dashed #FB2C3A;}
h4{font-size:25px;line-height:1em;font-weight:900;padding:20px 0px 10px;color:#242424;}

table{width:auto;border-collapse: collapse;border-spacing: 0;margin: 1em 0;overflow-x: auto;}
th,td{vertical-align:top;text-align: left; padding: 6px 12px; border: 1px solid #e0e0e0;font-size:14px;line-height:20px;}
th {background-color:#F0F0F0;vertical-align:middle;}

.footer{margin:20px 0;color:#BEBDBE;font-size:14px;font-weight:500;line-height:20px;text-align:center;}
.footer a{color:#ED8D6A;}
.footer .text{margin:30px 0 30px 0;}

@media only screen and ( max-width: 1300px ) {
	.top-navigation li a{padding:0 6px;}
}
@media only screen and ( max-width: 1100px ) {
	.top-navigation li a, .top-navigation li:after{font-size:12px;}
}
@media only screen and ( max-width: 980px ) {
	.wrap{width:90%;}
	.header-space{display:none;}
	.header{position:relative;height:auto;box-shadow:none;}
	.header .wrap{flex-direction:column;height:auto;padding:16px 0 12px 0;}
	.logo{padding:0 0 12px 0;}
	.logo img {height:28px;}
	.top-navigation{text-align: center;}
	.hero{padding:50px 0;}
	.hero h1 {font-size: 35px;margin-bottom:0;}
	.hero h4 {font-size:16px;
}
